<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Face Mask Detection</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./styles/style.css" type="text/css">
    </head>
    <body>
        <h1>Realtime Video Detection</h1>
        <img style="margin-left:100pt" class="video-stream" src="{% url 'mask_feed' %}">
        <script src="" async defer></script>
    </body>
</html>